#place-management {
}

#place-management #show-err-ma {
    color: red;
    

}
    
#place-management #show-err-name {
    color: red;
}

#place-management #show-err-ma .show-err {
    display: block;
}

#place-management #show-err-name .show-err {
    display: block;
}

