@{
    ViewBag.Title = "QuanLyDoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tour_du_lich.Models.doan>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Đoàn</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Đoàn</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Đoàn
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="200px">Mã Đoàn</th>
                                <th width="200px">Mã Tour</th>
                                <th width="400px">Ngày Bắt Đầu</th>
                                <th>Ngày Kết Thúc</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.madoan</td>
                                    <td>@item.matour</td>
                                    <td>@item.ngaybatdau</td>
                                    <td>@item.ngayketthuc</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

