
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Gia", FormMethod.Post))
{
    <div @*class="modal fade" id="myModal"*@>
        <div class="modal-dialog">
            <div class="modal-content" style="width: 620px">

                <!-- Modal Header -->
                <div class="modal-header" style="background-color: #343a40; color: white">
                    <h4 class="modal-title">Sửa Giá Tour</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div style="margin-left: 50px">
                        <div style="margin-top:50px" class="row">
                            <div class="col-md-6">
                                <div>
                                    Mã Giá Tour
                                </div>
                                <div>
                                    <input />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    Mã Tour
                                </div>
                                <div>
                                    <select id="tours" style="color: black">
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="vw">VW</option>
                                        <option value="audi" selected>Audi</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:50px" class="row">
                            <div class="col-md-6">
                                <div>
                                    Ngày Bắt Đầu
                                </div>
                                <div>
                                    <input type="date" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    Ngày Kết Thúc
                                </div>
                                <div>
                                    <input type="date" />
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:50px" class="row">
                            <div class="col-md-12">
                                <div>
                                    Giá Tour
                                </div>
                                <input type="text" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal">Sửa</button>
                </div>

            </div>
        </div>
    </div>
}

