@{
    ViewBag.Title = "QuanLyLoaiChiPhi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tour_du_lich.Models.loaichiphi>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Loại Chi Phí</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Loại Chi Phí</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Loại Chi Phí
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn custom-btn-primary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Loại Chi Phí
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>

                    <!-- The Modal -->
                    @using (Html.BeginForm("QuanLyLoaiChiPhi", "LoaiChiPhi", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 600px">

                                    <!-- Modal Header -->
                                    <div class="modal-header bg-cl-primary" >
                                        <h4 class="modal-title" style="flex:1;text-align:center;text-transform:uppercase">Thêm Loại Chi Phí</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div style="" class="row">
                                                
                                                    <div class="col-md-12">
                                                        <label for="them-ma-loai-chi-phi" class="form-label"> Mã Loại Chi Phí</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <input id="them-ma-loai-chi-phi" />
                                                    </div>
                                               
                                               
                                            </div>
                                            <div style="" class="row">
                                                
                                                    <div class="col-md-12">
                                                        <label for="them-ten-loai-chi-phi" class="form-label"> Tên Loại Chi Phí</label>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <input id="them-ten-loai-chi-phi" />
                                                    </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="custom-btn btn-16" data-dismiss="modal">Đóng</button>
                                        <button id="btnAddLoaiChiPhi" type="button" class="custom-btn btn-12" data-dismiss="modal"><span>Add</span><span>Thêm</span></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("EditLoaiChiPhi", "LoaiChiPhi", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 600px">

                                    <!-- Modal Header -->
                                    <div class="modal-header bg-cl-primary" >
                                        <h4 class="modal-title" style="flex:1;text-align:center;text-transform:uppercase">Sửa Loại Chi Phí</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div style="" class="row">

                                                <div class="col-md-12">
                                                    <label for="sua-ma-loai-chi-phi" class="form-label"> Mã Loại Chi Phí</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input id="sua-ma-loai-chi-phi" disabled />
                                                </div>


                                            </div>
                                            <div style="" class="row">

                                                <div class="col-md-12">
                                                    <label for="sua-ten-loai-chi-phi" class="form-label"> Tên Loại Chi Phí</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input id="sua-ten-loai-chi-phi" />
                                                </div>

                                            </div>
                                           
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="custom-btn btn-16" data-dismiss="modal">Đóng</button>
                                        <button id="btnEditLoaiChiPhi" type="button" class="custom-btn btn-12" data-dismiss="modal"><span>Edit</span><span>Sửa</span></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    <!-- The Modal -->
                    @using (Html.BeginForm("DeleteLoaiChiPhi", "LoaiChiPhi", FormMethod.Post))
                    {
                        <div class="modal fade" id="myModalDelete">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title">Xóa Loại Chi Phí</h4>
                                        <button type="button" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div>Bạn có muốn xóa Loại Chi Phí này không?</div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Xóa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="35%">Mã Loại Chi Phí</th>
                                <th width="35%">Tên Loại Chi Phí</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.maloaichiphi</td>
                                    <td>@item.tenloaichiphi</td>
                                    <td>
                                        <button data-toggle="modal" data-target="#myModalEdit" type="button" class="btn btn-warning" onclick="onGetInfoLoaiChiPhi('@item.maloaichiphi')">Sửa</button>
                                        <button type="button" class="btn btn-danger" onclick="onClickDeleteLoaiChiPhi('@item.maloaichiphi')">
                                            Xóa
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

