@{
    ViewBag.Title = "QuanLyDiaDiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model List<Tour_du_lich.Models.DiaDiemModel>

<main id="place-management">
    <div class="container-fluid">
        <h1 class="mt-4">Quản Lý Địa Điểm</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Home">Màn Hình Chính</a></li>
            <li class="breadcrumb-item active">Quản Lý</li>
            <li class="breadcrumb-item active">Quản Lý Địa Điểm</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header" style="display: flex; justify-content: space-between">
                <div>
                    <i class="fas fa-table mr-1"></i>
                    Bảng Thông Tin Địa Điểm
                </div>
                <div>
                    <button style="font-size:14px" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModalAdd">
                        <a style="color: white; text-decoration: none;" href="#" data-toggle="collapse">
                            Thêm Địa Điểm
                            <span class="sb-nav-link-icon"><i class="fa fa-plus-square" style="font-size:14px;color:white"></i></span>
                        </a>
                    </button>
                    @* Popup Add *@
                    @using (Html.BeginForm())
                    {

                        <!-- The Modal -->
                        <div class="modal fade" id="myModalAdd">
                            <div class="modal-dialog">
                                <div class="modal-content" style="min-width: 600px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title" style="color: white">Thêm Địa Điểm</h4>
                                        <button type="button" id="close-them-dia-diem" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="ma-dia-diem-them" class="form-label"> Mã Địa Điểm</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" id="ma-dia-diem-them" placeholder="Nhập Mã Địa Điểm" name="madiadiem">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="ten-dia-diem-them" class="form-label"> Tên Địa Điểm</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text"  id="ten-dia-diem-them" placeholder="Nhập Tên Địa Điểm" name="tendiadiem">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="button" id="btnAddDiaDiem" class="btn btn-success">Thêm</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                    @* Popup Edit *@
                    @using (Html.BeginForm())
                    {

                        <!-- The Modal -->
                        <div class="modal fade" id="myModalEdit">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width: 620px">

                                    <!-- Modal Header -->
                                    <div class="modal-header" style="background-color: #343a40; color: white">
                                        <h4 class="modal-title" style="color: white">Sửa Địa Điểm</h4>
                                        <button type="button" id="close-sua-dia-diem" class="close" data-dismiss="modal" style="color: white">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="sua-ma-dia-diem" class="form-label"> Mã Địa Điểm</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" id="sua-ma-dia-diem" placeholder="Nhập Mã Địa Điểm" name="madiadiem" disabled>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label for="sua-ten-dia-diem" class="form-label"> Tên Địa Điểm</label>
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" id="sua-ten-dia-diem" placeholder="Nhập Tên Địa Điểm" name="tendiadiem">
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                        <button type="submit" id="btnEditDiaDiem" class="btn btn-success">Sửa</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
             
                   
                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive" id="tbldiadiem">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th width="40%">Mã Địa Điểm</th>
                                <th width="40%">Tên Địa Điểm</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.madiadiem</td>
                                <td>@item.tendiadiem</td>
                                <td>
                                    <button data-toggle="modal" data-target="#myModalEdit" type="button" class="btn btn-warning" onclick="onGetInfoDiaDiem('@item.madiadiem');">Sửa </button>
                                    <button type="button" class="btn btn-danger" onclick="onDeleteDiaDiem('@item.madiadiem');">
                                        Xóa
                                    </button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>


